button {
  height: 30px;
  width: 100%;
  outline: none;
  margin: 10px 0px 0px;
  border: none;
  border-radius: 5px;
  background-color: #FFE135;
  font-size: 20px;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

body {
  padding: 0px 3px 3px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  background-image: url("bananabackground.jpeg");
}

body div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  font-weight: 700;
  font-size: 16px;
}

input{
  padding: 2px 4px;
  width: 100px;
  margin-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

#interval {
  padding: 4px 4px !important;
  width: 30px;
}
#startTime {
  margin-top: 0px !important;
}